.cover
{
    background-image: url('img/bitcoin-monk-pp.jpg');
    background-repeat: no-repeat;
    background-attachment: flex;
    background-size: 100% 100%;
}

.fa 
{
    padding: 1vh;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
    background: rgba(46, 204, 113, 0.27058823529411763);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.2px);
    -webkit-backdrop-filter: blur(16.2px);
    border: 1px solid rgba(46, 204, 113, 1);
}
.fa:hover 
{
    opacity: 0.7;
}
.fa-facebook {
    color: white;
  }
.fa-twitter 
{
  color:  white;
}

.fa-google 
{
  color: white;
}

.fa-linkedin 
{
  color: white;
}




.leftside, .rightside
{
    height: 100vh;
    width: 100%;

}
@media screen and (min-width: 720px)
{
    .leftside, .rightside
    {
        height: 100vh;
    }
}
.leftside
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightside
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightside:hover
{
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 1);
}

button
{
    font-size: 2vh;
	padding:8px 17px;
    width: 150px;
    height: 50px;
    color: #fefefe;
	text-decoration:none;
    background-color: transparent;
    background: rgba(46, 204, 113, 0.27058823529411763);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(46, 204, 113, 1);
}
button:hover
{
    background: rgba(255, 255, 255, 0.45);
}


.form
{
    position: relative;
    width: 300px;
    height: 50px;
    background-color: transparent;
}
.form input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #2ECC71;
    border-radius: 10px;
    outline: none;
    padding: 0 10px;
    font-size: 20px;
}

.form label
{
    position: absolute;
    top: 14px;
    left: 14px;
    text-transform: capitalize;
    font-size: 18px;
    transition: top .3s;
    padding: 0 5px;
    pointer-events: none;
}

.form input:focus ~ label
{
    top: -15px;
    background-color: none;
}

.text
{
    color: #fefefe;
}

.rmb
{
    display: flex;
    justify-content: space-between;
    
}
.link
{
    display: flex;
    justify-content: space-evenly;
}

p
{
    display: flex;
    justify-content: center;
}
